{% extends 'mainapp/base.html' %} {% load static %} {% block title %} About {%
endblock %} {% block main-content %}

<div class="container mt-4">
  <div class="row container">
    <h2 class="text-success">About Us</h2>
    <p>
      Build hidden sidebars into your project for navigation, shopping carts,
      and more with a few classes and our JavaScript plugin.
    </p>
  </div>

  <br />
  <br />

  <div class="row container">
    <h2 class="text-success">Mission</h2>
    <p>
      Offcanvas is a sidebar component that can be toggled via JavaScript to
      appear from the left, right, top, or bottom edge of the viewport. Buttons
      or anchors are used as triggers that are attached to specific elements you
      toggle, and data attributes are used to invoke our JavaScript. Offcanvas
      shares some of the same JavaScript code as modals. Conceptually, they are
      quite similar, but they are separate plugins. Similarly, some source Sass
      variables for offcanvas’s styles and dimensions are inherited from the
      modal’s variables. When shown, offcanvas includes a default backdrop that
      can be clicked to hide the offcanvas. Similar to modals, only one
      offcanvas can be shown at a time. Heads up! Given how CSS handles
      animations, you cannot use margin or translate on an .offcanvas element.
      Instead, use the class as an independent wrapping element.
    </p>
  </div>
</div>

{% endblock main-content %}
