{% extends 'mainapp/base.html' %}
{% load static %}
{% block title%} Add To Cart {% endblock %}
{% block main-content%}

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
        {% if cart_items %}
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7 ">

                                <h5 class="mb-3"><a href="#!" class="text-body"><i
                                        class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">

                                    <div>
                                        <p class="mb-1">Shopping cart</p>
                                        <p class="mb-0"> You have
                                            <strong class="bg-info text-danger border shadow-1 m-1 p-1 rounded-circle">
                                                {{ cart_items | length }} </strong>
                                            items in your cart</p>
                                    </div>

                                    <div>
                                        <p class="mb-0"><span class="text-muted">Sort by:</span>
                                            <a href="#!" class="text-body">price<i
                                                    class="fas fa-angle-down mt-1"></i></a></p>
                                    </div>

                                </div>

                                <!--==================  Start  Cart Item     ====================-->

                                {% for item in cart_items %}

                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">

                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img src="{{item.products.product_image.url}}"
                                                         class="img-fluid rounded-3" alt="Shopping item"
                                                         style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>{{item.products.title}}</h5>
                                                    <p class="small mb-0">{{item.products.description}}</p>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-auto align-items-center">
                                                <span id="quantity{{ item.id }}" class="fw-normal mb-0">{{ item.quantity }}</span>
                                            </div>

                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 50px;">
                                                    <button class="btn btn-sm btn-outline-secondary"
                                                            onclick="decrementItem('{{ item.id }}')">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <button class="btn btn-sm btn-outline-secondary"
                                                            onclick="incrementItem('{{ item.id }}')">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div style="width: 80px;">
                                                    <h5 class="mb-0">$<span id="totalPrice{{ item.id }}">{{ item.quantity}}</span>
                                                    </h5>

                                                    <!-- {{item.get_total_price}} -->

                                                </div>
                                                <a href="#!" class="text-decoration-none" style="color: #cecece;"
                                                   onclick="removeItem('{{ item.id }}')">
                                                    <i class="fas fa-trash-alt text-danger"></i>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                                <!--==================  End  Cart Item     ====================-->
                            </div>

                            <!-- Calculate Total Cart Price  -->

                            <div class="col-lg-5 d-grid align-items-center">
                                <div class="card bg-primary text-white rounded-3">
                                    <div class="card-body">
                                        <!-- Card type icons -->
                                        <hr class="my-4">
                                        <!-- Subtotal, shipping, total -->
                                        <div class="d-grid justify-content-between gap-4">
                                            <span class="d-flex">Total Price $<span id="totalPrice">00.00</span></span>
                                            <span> After Discount </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="{%  url 'checkout' % }" type="button" class="btn btn-info btn-block btn-md w-20">
                                <span> Checkout </span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</section>

<script>
    function incrementItem(itemId, price) {
        var quantityElement = document.getElementById('quantity' + itemId);
        var totalPriceElement = document.getElementById('totalPrice' + itemId);
        var quantity = parseInt(quantityElement.innerText);
        quantity++;
        quantityElement.innerText = quantity;
        totalPriceElement.innerText = (quantity * price).toFixed(2);
        updateTotalPrice();
    }

    function decrementItem(itemId, price) {
        var quantityElement = document.getElementById('quantity' + itemId);
        var totalPriceElement = document.getElementById('totalPrice' + itemId);
        var quantity = parseInt(quantityElement.innerText);
        if (quantity > 1) {
            quantity--;
            quantityElement.innerText = quantity;
            totalPriceElement.innerText = (quantity * price).toFixed(2);
            updateTotalPrice();
        }
    }

    function updateTotalPrice() {
        var totalPrice = 0;
        {% for item in cart_items %}
            var itemQuantity = parseInt(document.getElementById('quantity{{ item.id }}').innerText);
            var itemPrice = parseFloat('{{ item.products.discount_prices }}');
            totalPrice += itemQuantity * itemPrice;
        {% endfor %}
        document.getElementById('totalPrice').innerText = totalPrice.toFixed(2);
    }
</script>


{% endblock main-content%}



