{% extends 'mainapp/base.html' %} {% load static %} {% block title %} Product
Details {% endblock %} {% block main-content %}

<h2 class="text-success text-center my-4">This is the Details Page</h2>

<div class="container my-5">
  <div class="row">
    <div class="col-sm-3">
      <img
        src="{{ product.product_image.url }}"
        width="300px"
        height="200px"
        alt="Product_Images"
        class="img-fluid"
      />
    </div>

    <div
      class="col-sm-9 d-flex flex-column justify-content-center align-items-center"
    >
      <div>
        <h4>{{product.title}}</h4>
        <p class="text-danger fw-bold">
          Discount Price: TK. {{product.discount_prices}} /-
        </p>
        <small class="text-danger text-decoration-line-through">
          Selling Price: TK. {{product.selling_prices}} /-
        </small>

        <ul class="my-4">
          <h4>Products Features:</h4>

          <li>{{product.description}}</li>

        </ul>
      </div>



      <div class="d-flex">
        <form action="/add-to-cart" class="d-inline ">

          <input type="hidden" name="product_id" value={{ product.id }} />

          <button type="submit" class="btn btn-warning shadow px-5 py-2">Add To Cart</button>

        </form>

        <a href="{% url "cart-view"%}" class="btn btn-primary shadow px-5 py-2 ms-4">Buy Now</a>
      </div>
       

   
    </div>
  </div>
</div>

{% endblock main-content %}
